$desktop-screen: 768px
    
.window
    position: absolute
    width: 123px 
    height: 155.5px 
    clip-path: polygon(0 0, 100% 32%, 100% 87%, 0 54%)
    background-color: rgb(218, 205, 205)
    top: 68px 
    left: 41px 
    z-index: 2
    @media screen and (min-width: $desktop-screen) 
        width: 246px
        height: 311px
        top: 134px
        left: 85px

    &-shadow
        position: absolute
        width: 123px 
        height: 155.5px 
        clip-path: polygon(0% 3%, 2% 3%, 100% 34%, 100% 88%, 99% 89%, 0 54%)
        background-color: rgb(145, 140, 140)
        top: 64px 
        left: 42.5px 
        @media screen and (min-width: $desktop-screen) 
            width: 246px
            height: 311px
            top: 125.5px
            left: 87px

.shadow-line-right
    position: absolute
    width: 2px
    height: 48px 
    background-color: rgb(145, 140, 140)
    left: 134px 
    top: 83px 
    z-index: 1000

.shadow-line-left
    position: absolute
    width: 2px
    height: 148px 
    background-color: rgb(145, 140, 140)
    left: -84px 
    top: 43px 
    z-index: 999
