@keyframes paper {
  0% {
    -webkit-clip-path: polygon(29% 17%, 32% 28%, 35% 26%);
            clip-path: polygon(29% 17%, 32% 28%, 35% 26%);
  }
  25% {
    -webkit-clip-path: polygon(30% 17%, 35% 27%, 30% 29%);
            clip-path: polygon(30% 17%, 35% 27%, 30% 29%);
    background-color: rgb(239, 236, 232);
  }
  50% {
    -webkit-clip-path: polygon(29% 17%, 35% 28%, 32% 26%);
            clip-path: polygon(29% 17%, 35% 28%, 32% 26%);
  }
  100% {
    -webkit-clip-path: polygon(29% 17%, 32% 28%, 35% 26%);
            clip-path: polygon(29% 17%, 32% 28%, 35% 26%);
  }
}
@keyframes corner {
  0% {
    -webkit-clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
            clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
  }
  25% {
    -webkit-clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
            clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
  }
  50% {
    -webkit-clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
            clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
  }
  100% {
    -webkit-clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
            clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);
  }
}
.projects {
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .projects {
    margin-left: 20px;
    margin-top: 100px;
  }
}
.projects-board {
  background-color: hsl(30, 69%, 78%);
  width: 110px;
  height: 145px;
  -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
          clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
  margin-left: 2.5px;
  margin-top: 1.5px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .projects-board {
    width: 220px;
    height: 290px;
    margin-left: 5px;
    margin-top: 3px;
  }
}
.projects-board-ext {
  background-color: hsl(30, 55%, 73%);
  width: 112px;
  height: 146px;
  -webkit-clip-path: polygon(0 29%, 97% 0%, 100% 1%, 96% 70%, 2% 100%, 0 99%);
          clip-path: polygon(0 29%, 97% 0%, 100% 1%, 96% 70%, 2% 100%, 0 99%);
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .projects-board-ext {
    width: 224px;
    height: 292px;
    margin-left: 0px;
    margin-top: 0px;
  }
}
.projects-board-int {
  background-color: rgb(192, 145, 103);
  width: 103px;
  height: 135px;
  -webkit-clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
          clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
  margin-left: 5.5px;
  margin-top: 6px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .projects-board-int {
    width: 206px;
    height: 270px;
    margin-left: 11px;
    margin-top: 12px;
  }
}

.shadow-down {
  background-color: hsl(30, 43%, 65%);
  width: 111px;
  height: 1.5px;
  rotate: -21.5deg;
  margin-left: 1.5px;
  margin-top: 119.5px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .shadow-down {
    width: 222px;
    height: 3px;
    margin-left: 3px;
    margin-top: 239px;
  }
}

.shadow-right {
  background-color: hsl(30, 43%, 65%);
  width: 1.5px;
  height: 93px;
  margin-left: 107.5px;
  margin-top: 7px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .shadow-right {
    width: 3px;
    height: 186px;
    margin-left: 215px;
    margin-top: 14px;
  }
}

.shadow-up {
  background-color: hsl(30, 43%, 65%);
  width: 111px;
  height: 0.5px;
  rotate: -21.5deg;
  margin-left: 1.5px;
  margin-top: 26.5px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .shadow-up {
    width: 222px;
    height: 1px;
    margin-left: 3px;
    margin-top: 53px;
  }
}

.shadow-left {
  background-color: hsl(30, 43%, 65%);
  width: 0.5px;
  height: 94px;
  margin-left: 5px;
  margin-top: 47px;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .shadow-left {
    width: 1px;
    height: 188px;
    margin-left: 10px;
    margin-top: 94px;
  }
}/*# sourceMappingURL=Projects.css.map */