/* TABLEAU */


@keyframes paper {
    0% {
        clip-path:  polygon(29% 17%, 32% 28%, 35% 26%); 
    }
    25%{
      clip-path: polygon(30% 17%, 35% 27%, 30% 29%) ;
      background-color: rgb(239, 236, 232);
    }
    50%{
      clip-path: polygon(29% 17%, 35% 28%, 32% 26%);
    }
    100% {
      clip-path:  polygon(29% 17%, 32% 28%, 35% 26%); 
  }
}

@keyframes paper-corner {
    0% {
        clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%); 
        
    }
    25%{
        clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);

    }
    50%{
        clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%); 
    }
    100% {
        clip-path: polygon(39% 4%, 39% 6%, 39% 10%, 39% 14%, 39% 19%, 40% 22%, 41% 25%, 42% 27%, 44% 27%, 47% 27%, 51% 26%, 53% 26%, 56% 26%, 55% 24%, 54% 20%, 54% 16%, 54% 11%, 55% 7%, 55% 4%, 50% 4%, 46% 4%, 42% 4%);

  }
}
 
.projects{
    position: absolute;
    margin-top: 160px;
    margin-left: 40px;
}

.projects-board{
    background-color: hsl(30,69%,78%);
    width: 220px;
    height: 290px;
    clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
    margin-left: 5px;
    margin-top: 3px;
    position: absolute;
    z-index: 3;
}

.projects-board-ext{
    background-color: hsl(30, 55%, 73%);
    width: 224px;
    height: 292px;
    clip-path: polygon(0 29%, 97% 0%, 100% 1%, 96% 70%,  2% 100%, 0 99%);
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    z-index: 2;
}

.projects-board-int{
    background-color: rgb(192,145,103);
    width: 206px;
    height: 270px;
    clip-path: polygon(0 30%, 100% 0%, 100% 70%, 0 100%);
    margin-left: 11px;
    margin-top: 12px;
    position: absolute;
    z-index: 3;
}

.shadow-down{
    background-color: hsl(30, 43%, 65%);
    width: 222px;
    height: 3px;
    rotate: -21.5deg;
    margin-left: 3px;
    margin-top: 239px;
    position: absolute;
    z-index: 3;
}

.shadow-right{
    background-color: hsl(30, 43%, 65%);
    width: 3px;
    height: 186px;
    margin-left: 215px;
    margin-top: 14px;
    position: absolute;
    z-index:3;
}

.shadow-up{
    background-color: hsl(30, 43%, 65%);
    width: 222px;
    height: 1px;
    rotate: -21.5deg;
    margin-left: 3px;
    margin-top: 53px;
    position: absolute;
    z-index: 3;
}

.shadow-left{
    background-color: hsl(30, 43%, 65%);
    width: 1px;
    height: 188px;
    margin-left: 10px;
    margin-top: 94px;
    position: absolute;
    z-index: 3;
}






/* 
-----------------SCOTCH-----------------


.scotch{
    background-color: rgba(152, 162, 172, 0.644);
    width: 72px;
    height: 72px;
    
    position: absolute;
    z-index: 2;
    clip-path: polygon(64% 86%, 63% 84%, 61% 84%, 61% 84%, 59% 84%, 60% 83%, 78% 61%, 78% 61%, 78% 63%, 79% 63%, 81% 62%, 80% 63%, 80% 64%, 80% 65%, 82% 65%, 84% 65%, 65% 86%);
}

.up{
    margin-top: 112px;
    margin-left: 120px;  
}

.down{
    margin-top: 136px;
    margin-left: 146px;  
} 

*/


/* --------------THUMBTACK----------------- */

