.parquet{
    margin-left: 0;
    padding-left: 150px;
    margin-top: 170px;
    
}

.line{
    margin-top: -215px;
    margin-right: 0;
    display: flex;
    
}

.first{
    margin-left: -185px;
}

.second{
    margin-left: -110px;
}

.latte{
    
    width: 200px;
    height: 200px;
    clip-path: polygon(46% 3%, 57% 7%, 9% 27%, 0 22%);
    background-color: rgb(37, 36, 32);
    
}

.light{
    margin-bottom: 0px;
    margin-right: -159px;
    background-color: rgba(211, 167, 92, 0.712)
}

.dark{
    margin-bottom: 50px;
    margin-right: -159px;
    background-color: rgba(211, 167, 92, 0.992)

    
}
