@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeSun {
  0% {
    opacity: 0;
    height: 0px;
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 0% 100.238%, 0% 100.419%, 0% 99.746%, 0% 97.421%, 0% 92.647%, 0% 84.626%, 0% 72.56%, 0% 55.652%, 0% 33.103%, 0% 4.117%, 100% 100%);
            clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 0% 100.238%, 0% 100.419%, 0% 99.746%, 0% 97.421%, 0% 92.647%, 0% 84.626%, 0% 72.56%, 0% 55.652%, 0% 33.103%, 0% 4.117%, 100% 100%);
    margin-top: -47px;
  }
  100% {
    opacity: 1;
    height: 53.144px;
    -webkit-clip-path: polygon(82.16% 100%, 0% 100%, 0% 100%, 2.287% 78.26%, 6.297% 58.382%, 12.025% 40.763%, 19.469% 25.796%, 28.626% 13.879%, 39.493% 5.405%, 52.067% 0.772%, 66.345% 0.375%, 82.323% 4.608%, 100% 13.868%, 82.16% 100%);
            clip-path: polygon(82.16% 100%, 0% 100%, 0% 100%, 2.287% 78.26%, 6.297% 58.382%, 12.025% 40.763%, 19.469% 25.796%, 28.626% 13.879%, 39.493% 5.405%, 52.067% 0.772%, 66.345% 0.375%, 82.323% 4.608%, 100% 13.868%, 82.16% 100%);
    margin-top: -103px;
  }
}
#modal-container {
  position: fixed;
  display: table;
  height: 1000px;
  width: 100%;
  top: -100px;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.firstModal {
  transform: scale(1);
  z-index: 999;
}
#modal-container.firstModal .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.firstModal .modal-background .modal {
  position: relative;
  margin-top: 250px;
  z-index: 999;
  height: 65px;
  width: 105px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  padding-top: 50px;
}
#modal-container.firstModal .modal-background .modal:after, #modal-container.firstModal .modal-background .modal:before {
  background: #fff;
  content: "";
  transform: translateZ(-1px);
}
#modal-container.firstModal .modal-background .modal:after {
  -webkit-border-radius: 100px;
  position: absolute;
  z-index: -10;
  border-radius: 100px;
  height: 100px;
  left: 43px;
  top: -50px;
  width: 100px;
}
#modal-container.firstModal .modal-background .modal:before {
  -webkit-border-radius: 200px;
  position: absolute;
  z-index: -10;
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
#modal-container.firstModal .modal-background .modal .technos {
  display: flex;
  gap: 1rem;
  margin-bottom: 13px;
  background-color: rgba(240, 243, 245, 0);
  border-radius: 20%;
  z-index: 11;
  opacity: 0;
  position: absolute;
  animation: descendre 1.5s ease forwards;
  animation-delay: 1.8s;
}
@media screen and (min-width: 768px) {
  #modal-container.firstModal .modal-background .modal .technos {
    flex-direction: column;
    margin-top: -490px;
    margin-left: 315px;
    padding: 1rem;
  }
}
#modal-container.firstModal .modal-background .modal .link {
  width: 100%;
  height: 50px;
  margin-left: -20px;
  margin-bottom: 0px;
  background-color: red;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  opacity: 0;
  display: block;
  border-radius: 0 0 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(255, 149, 87);
  color: rgb(255, 250, 246);
  font-weight: 700;
  font-size: 16px;
  font-line-height: 1;
  font-family: Poppins, sans-serif;
  animation-name: fadeOpacity;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  #modal-container.firstModal .modal-background .modal .link {
    margin-top: 0px;
  }
}
#modal-container.firstModal .modal-background .modal .description {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}
#modal-container.firstModal .modal-background .modal .description .imgContainer {
  -webkit-border-radius: 200px;
  position: absolute;
  z-index: -10;
  border-radius: 200px;
  border: 8px #ffcc67 solid;
  width: 170px;
  height: 170px;
  right: 28px;
  top: -95px;
  overflow: hidden;
  background-color: white;
}
#modal-container.firstModal .modal-background .modal .description .imgContainer .imgProject {
  margin: 6px;
  border-radius: 200px;
  height: 158px;
  width: 158px;
}
#modal-container.firstModal .modal-background .modal .description .projectType {
  margin-top: 15px;
  margin-left: -10px;
  text-align: start;
  font-size: 1rem;
  overflow-wrap: break-word;
  width: 105px;
}
#modal-container.firstModal .modal-background .modal .description .projectTitle {
  margin-top: 65px;
  font-weight: 900;
  line-height: 1.5;
  font-size: 24px;
}
#modal-container.firstModal .modal-background .modal .description p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}
#modal-container.out .modal-background {
  background: rgba(255, 255, 255, 0.41);
  animation: slowFade 0.5s linear forwards;
}
#modal-container.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
}
#modal-container.out .modal-background .modal .description {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
}
.modal-background .modal {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}

.icons {
  width: 50px;
  border: 5px #ffcc67 solid;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .icons {
    width: 60px;
    height: 60px;
  }
}

.modal-sun {
  position: absolute;
  margin-left: 20px;
  margin-top: -47px;
  background: rgb(255, 149, 87);
  width: 86.5px;
  opacity: 0;
  height: 0px;
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 0% 100.238%, 0% 100.419%, 0% 99.746%, 0% 97.421%, 0% 92.647%, 0% 84.626%, 0% 72.56%, 0% 55.652%, 0% 33.103%, 0% 4.117%, 100% 100%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 100%, 0% 100.238%, 0% 100.419%, 0% 99.746%, 0% 97.421%, 0% 92.647%, 0% 84.626%, 0% 72.56%, 0% 55.652%, 0% 33.103%, 0% 4.117%, 100% 100%);
  animation-name: fadeSun;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-play-state: running;
}/*# sourceMappingURL=Modal.css.map */