.App {
  text-align: center;
  z-index: -999;
  overflow-x: hidden;
  
}



.title{
  padding-top: 2rem;
  padding: 1rem;
  
  font-size: 1.5rem;
  text-transform: capitalize;
}



.resume{
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
}

.link{
  text-align: end;
}